<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
            <li><a href="http://www.hileveps.com" target="_blank">关于我们</a></li>
            <li><a href="/contact">联系我们</a></li>
            <li><a href="http://blog.hileveps.com" target="_blank">博客</a></li>
            <li><a href="/register_agreement">注册协议</a></li>
            <li><a href="/privacy">隐私协议</a></li>
          </ul>
        </div>
        <p>Copyright &copy; 西安慧伦普斯信息科技有限公司. All rights reserved.<br/> Design &amp; Developed by <a href="http://www.themefisher.com">Themefisher</a></p>
      </div>
    </div>
  </div>
</footer>
